<div class="chat-box">
  <input type="checkbox" />
  <label data-expanded="Cerrar Conversación" data-collapsed="Ver Conversación"></label>
  <div class="chat-box-content">
    
    <p ng-repeat="message in vm.messages track by $index">{{message.user.name}} : {{message.message}}</p>
    
    <form class="chat-input" ng-submit="vm.send(vm.message)">
      <input type="text" ng-model="vm.message">
      <md-button type="submit" class="md-primary">
        Enviar
      </md-button> 
    </form>
    

  </div>
</div>